<button (click)="deleteSelfie()">[ - ]</button>
<button (click)="addSelfie()">[ + ]</button>

<div>
  <h3>Les filtres</h3>
  <app-list-planetes [list]="planetes"></app-list-planetes>
</div>

<!-- <span *ngIf="! selfies || selfies.length === 0" class="empty"> -->
<span *ngIf="isEmptyList" class="empty">
  Aucun selfie disponible ! Où sont les Wookies ?!
</span>

<app-row-selfie [titre]="'Un selfie'" [monSelfie]="selfie" *ngFor="let selfie of selfies"></app-row-selfie>
<app-row-selfie titre="Un selfie !" [monSelfie]="selfie" *ngFor="let selfie of selfies"></app-row-selfie>


<!-- <a href="http://devtobecurious.com">Les curieux-ses en dev</a> -->
